<include file="Common:meta" />
<title>拍品信息-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="widgets">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <include file="Common:header" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">拍品信息</div>
                            </div>

                            <div class="widget-body am-fr">
                                    
                                    <neq name="info.sid" value="0">
                                        <div class="am-form-group am-cf">
                                            <label for="pname" class="am-u-sm-3 am-form-label am-text-right">所属专场</label>
                                            <div class="am-u-sm-9"><a href="{:U('Auction/special_info',array('sid'=>$info['sid']))}">{$info.sname}</a></div>
                                        </div>
                                    </neq>
                                    <neq name="info.mid" value="0">
                                        <div class="am-form-group am-cf">
                                            <label for="pname" class="am-u-sm-3 am-form-label am-text-right">所属拍卖会</label>
                                            <div class="am-u-sm-9"><a href="{:U('Auction/meeting_info',array('mid'=>$info['mid']))}">{$info.mname}</a></div>
                                        </div>
                                    </neq>
                                    <notempty name="info.bidnb">
                                        <div class="am-form-group am-cf">
                                            <label for="pname" class="am-u-sm-3 am-form-label am-text-right">拍品编号</label>
                                            <div class="am-u-sm-9">{$info.bidnb}</div>
                                        </div>
                                    </notempty>
                                    <div class="am-form-group am-cf">
                                        <label for="pname" class="am-u-sm-3 am-form-label am-text-right">拍卖标题</label>
                                        <div class="am-u-sm-9">{$info.pname}</div>
                                    </div>
                                    <div  class="am-form-group am-cf">
                                        <label for="pname" class="am-u-sm-3 am-form-label am-text-right">拍卖模式</label>
                                        <div class="am-u-sm-9"><eq name="info.type" value="1">竞标<else/>竞拍</eq></div>
                                    </div>
                                    <if condition="($info['succtype'] eq 1) and ($info['type'] eq 0)">
                                        <div class="am-form-group am-cf">
                                            <label for="succtype" class="am-u-sm-3 am-form-label am-text-right">即时成交价</label>
                                            <div class="am-u-sm-9">{$info.succprice}</div>
                                        </div> 
                                    </if>
                                   
                                    <!-- 单品拍下才可以设置开始结束时间 -->
                                    <eq name="info.to" value="js">
                                        <div class="am-form-group am-cf">
                                            <label for="start_time" class="am-u-sm-3 am-form-label am-text-right">开始时间</label>
                                            <div class="am-u-sm-9">{$info.starttime|date='Y-m-d H:i',###}</div>
                                        </div>
                                        <div class="am-form-group am-cf">
                                            <label for="end_time" class="am-u-sm-3 am-form-label am-text-right">结束时间</label>
                                            <div class="am-u-sm-9">{$info.endtime|date='Y-m-d H:i',###}</div>
                                        </div>
                                    </eq>
                                    <!-- 单品拍下才可以设置开始结束时间——end -->

                                    <div class="am-form-group am-cf">
                                        <label for="end_time" class="am-u-sm-3 am-form-label am-text-right">当前价</label>
                                        <div class="am-u-sm-9">{$info.nowprice}</div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="pname" class="am-u-sm-3 am-form-label am-text-right">起拍价</label>
                                        <div class="am-u-sm-9">{$info.onset}</div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="pname" class="am-u-sm-3 am-form-label am-text-right">保留价</label>
                                        <div class="am-u-sm-9">{$info.price}</div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="pname" class="am-u-sm-3 am-form-label am-text-right">运费</label>
                                        <div class="am-u-sm-9">{$info.freight|default=0}</div>
                                    </div>

                                    <div class="am-form-group am-cf">
                                        <label for="succtype" class="am-u-sm-3 am-form-label am-text-right">价格浮动</label>
                                        <div class="am-u-sm-9">
                                            <eq name="info.stepsize_type" value="0">
                                                初始浮动额度为{$info.stepsize_ratio_r}；当前价大于等于{$info.stepsize_ratio_s}后，开始按照单位的百分之{$info.stepsize_ratio}规则实行浮动，浮动最高不超过{$info.stepsize_ratio_t}
                                            <else/>
                                                每次出价固定加价{$info.step_fixation}
                                            </eq>
                                        </div>
                                    </div> 
                                    <div class="am-form-group am-cf">
                                        <label for="pname" class="am-u-sm-3 am-form-label am-text-right">时间延时</label>
                                        <div class="am-u-sm-9">最后{$info.steptime}秒内出价，时间延时{$info.deferred}秒（60秒=1分钟）</div>
                                    </div>


                                    <div class="am-form-group am-cf">
                                        <label for="succtype" class="am-u-sm-3 am-form-label am-text-right">保证金</label>
                                        <div class="am-u-sm-9"><eq name="info.pledge_type" value="ratio">起拍价百分之{$info.pledge}比例收取<else/>定额收取{$info.pledge}</eq></div>
                                    </div> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<include file="Common:footer_link" />

</body>
</html>
