<include file="Common:meta" />
<title>首页-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="widgets">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <include file="Common:header" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">站点配置</div>
                            </div>
                            <div class="widget-body am-fr">
                                <form id="webConfig" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">站点名称</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="name" name="name" value="{$site.SITE_INFO.name}" placeholder="请输入站点名称" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="summary" class="am-u-sm-3 am-form-label">一句话描述</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="summary" name="summary" value="{$site.SITE_INFO.summary}" placeholder="请输入一句话描述" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="version" class="am-u-sm-3 am-form-label">网站版本</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="version" name="version" value="{$site.SITE_INFO.version}" placeholder="请输入网站版本">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="icp" class="am-u-sm-3 am-form-label">ICP备案号</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="icp" name="icp" value="{$site.SITE_INFO.icp}" placeholder="请输入ICP备案号">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="service" class="am-u-sm-3 am-form-label">客服邮箱</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="service" name="service" value="{$site.SITE_INFO.service}" placeholder="请输入客服邮箱">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="tel" class="am-u-sm-3 am-form-label">客服电话</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="tel" name="tel" value="{$site.SITE_INFO.tel}" placeholder="请输入客服电话">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="address" class="am-u-sm-3 am-form-label">公司地址</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="address" name="address" value="{$site.SITE_INFO.address}" placeholder="请输入公司地址">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="title" class="am-u-sm-3 am-form-label">网站标题</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="title" name="title" value="{$site.SITE_INFO.title}" placeholder="请输入网站标题" required>
                                            <small>（HTML"title"处的内容，对于SEO优化很重要）</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="keyword" class="am-u-sm-3 am-form-label">网站关键字</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="keyword" name="keyword" value="{$site.SITE_INFO.keyword}" placeholder="请输入网站关键字" required>
                                            <small>（HTML"keywords"处的内容，对于SEO优化很重要）</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="description" class="am-u-sm-3 am-form-label">网站简介</label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="10" id="description" name="description" placeholder="请填写网站简介">{$site.SITE_INFO.description}</textarea>
                                            <small>（HTML“description”处的内容，对于SEO优化很重要）</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="yunying" class="am-u-sm-3 am-form-label">运营配置</label>
                                        <div class="am-u-sm-9">
                                            <div>
                                                <label class="am-checkbox-inline">
                                                    <input id="yunying" type="checkbox" name="close_web"  value="1" data-am-ucheck <if condition="$site['SITE_INFO']['close_web'] eq 1"> checked</if>> 关闭电脑网页版
                                                </label>
                                                <label class="am-checkbox-inline">
                                                    <input id="yunying1" type="checkbox" name="close_webapp"  value="1" data-am-ucheck <if condition="$site['SITE_INFO']['close_webapp'] eq 1"> checked</if>> 关闭手机网页版
                                                </label>
                                                <label class="am-checkbox-inline">
                                                    <input id="yunying2" type="checkbox" name="close_weixin"  value="1" data-am-ucheck <if condition="$site['SITE_INFO']['close_weixin'] eq 1"> checked</if>> 关闭微信版
                                                </label>
                                            </div>
                                            <small>关闭微信指断开网站与微信的关联，不使用微信提供的接口。</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="maintenance" class="am-u-sm-3 am-form-label">升级维护</label>
                                        <div class="am-u-sm-9">
                                            <div>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" name="maintenance"  value="1" data-am-ucheck <if condition="$site['SITE_INFO']['maintenance'] eq 1"> checked</if>> 升级维护中
                                                </label>
                                            </div>
                                            <small>如运营对应版本请勾选</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <input type="submit" name="" value="提交" class="am-btn am-btn-primary tpl-btn-bg-color-success submitBtn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<include file="Common:footer_link" />
<script type="text/javascript">
    // 表单提交
        var $form = $('#webConfig');
        var $subbtn = $(".submitBtn");
        $form.validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if (formValidity) {
                    // 验证成功的逻辑
                    $subbtn.button('loading');
                    // 验证成功的逻辑
                    $form.ajaxSubmit({url:document.URL,data:'',type:"POST",
                        success:function(data, st) {
                            // 提示框
                            AMUI.dialog.alert({ title: data.title, content: data.info});
                            if(data.status==1){
                                setTimeout(function(){
                                    top.window.location.href = data.url;
                                },1000);
                            }else{
                                $subbtn.button('reset');
                            }
                            return false;
                        }
                    });
                } else {
                    $subbtn.button('reset');
                // 验证失败的逻辑
                }
            //阻止原生form提交
            return false;
            }
        });
</script>
</body>
</html>