<div class="meeting-page am-cf">
    <div class="group-list">
        <ul class="am-avg-sm-1">
            <empty name="list">
                <li class="datanull">暂时没有{$saytyp.ch|default=今日拍卖会}</li>
               <else /> 
               <volist name="list" id="vo">
                    <li class="group-item li{$vo.mid} <eq name="vo.saytyp.get" value="biding">biding</eq><eq name="vo.saytyp.get" value="future">future</eq><eq name="vo.saytyp.get" value="bidend">bidend</eq>" >
                            <a title="{$vo.mname}" target="_blank" class="group-abox am-cf" href="{:U('Meeting/meetul',array('mid'=>$vo['mid']))}">
                                <div class="group-img">
                                    <notempty name="vo.mpicture">
                                        <img alt="{$vo.mname}" src="{$upWholeUrl}{$vo.mpicture}">
                                        <else/>
                                        <img alt="{$vo.mname}" src="__IMG__/meeting_bg.png">
                                    </notempty>
                                </div>
                                <div class="group-info <neq name='vo.saytyp.get' value='bidend'>pdb</neq>">
                                    <p title="{$vo.mname}" class="item-title am-text-truncate">{$vo.mname}</p>
                                    <p class="item-describe">
                                        {$vo.description}
                                    </p>
                                    
                                    <ul class="am-avg-sm-2">
                                        <li>保证金：<span class="am-text-primary"><strong><eq name="vo.meeting_pledge_type" value="0">¥{$vo.mpledge}<else/>分别收取</eq></strong></span></li>
                                        <li>拍品数量：<span class="am-text-secondary"><strong>{$vo.bcount}</strong>件</span></li>
                                        <eq name="vo.saytyp.get" value="bidend">
                                            <li>成交总额：<span class="am-text-warning"><span>¥</span><strong class="f14 red1">{$vo.countprc}</strong></span></li>
                                        </eq>
                                        <neq name="vo.saytyp.get" value="future">
                                            <li>结束时间：{$vo.endtime|date='Y-m-d H:i',###}</li>
                                        </neq>
                                    </ul>
                                    <p class="liucheng">
                                        流程：拍品竞价开始后<strong>{$vo.losetime}秒</strong>内无人出价则流拍；有人出价则进入<strong>{$vo.bidtime}秒</strong>拍卖时间。拍品竞价结束<strong>{$vo.intervaltime}秒</strong>后开始下一件拍品的竞价，以此类推直到拍卖会结束！
                                    </p>
                                    <div class="timeDown am-cf meetingBidTbox">
                                        <!-- 正在进行 -->
                                        <eq name="vo.saytyp.get" value="biding"> 
                                            <dt class="th" id="bidTimeStatus">
                                            距离结束：
                                            </dt>
                                            <dd class="timeShowbox onBidtime{$vo.mid}" id="onBidtime">
                                                <span class="day">-</span>
                                                <span class="dw">天</span>
                                                <span class="hour">-</span>
                                                <span class="dw">时</span>
                                                <span class="minute">-</span>
                                                <span class="dw">分</span>
                                                <span class="second">-</span>
                                                <span class="dw">秒</span>
                                                <span class="msec">-</span>
                                            </dd>
                                            <script type="text/javascript">
                                                $(function(){
                                                    meetingCountDown("cke","{$vo.mid}","{$vo.endtime}","{$nowtime}",".onBidtime{$vo.mid}",".onBidtime{$vo.mid} .day",".onBidtime{$vo.mid} .hour",".onBidtime{$vo.mid} .minute",".onBidtime{$vo.mid} .second",".onBidtime{$vo.mid} .msec");
                                                });
                                            </script>
                                        </eq>
                                        <!-- 正在进行——end -->
                                        <!-- 未开始 -->
                                        <eq name="vo.saytyp.get" value="future">
                                            <dt class="th" id="bidTimeStatus">
                                            距离开始：
                                            </dt>
                                            <dd class="timeShowbox onBidtime{$vo.mid}" id="onBidtime">
                                                <span class="day">-</span>
                                                <span class="dw">天</span>
                                                <span class="hour">-</span>
                                                <span class="dw">时</span>
                                                <span class="minute">-</span>
                                                <span class="dw">分</span>
                                                <span class="second">-</span>
                                                <span class="dw">秒</span>
                                                <span class="msec">-</span>
                                            </dd>
                                            <script type="text/javascript">
                                                $(function(){
                                                    meetingCountDown("cks","{$vo.mid}","{$vo.starttime}","{$nowtime}",".onBidtime{$vo.mid}",".onBidtime{$vo.mid} .day",".onBidtime{$vo.mid} .hour",".onBidtime{$vo.mid} .minute",".onBidtime{$vo.mid} .second",".onBidtime{$vo.mid} .msec");
                                                });
                                            </script>
                                        </eq>
                                        <!-- 未开始——end -->
                                    </div>

                                    <!-- 已结束 -->
                                    <eq name="vo.saytyp.get" value="bidend"><div class="speend_bg"></div></eq>
                                    <!-- 已结束——end -->
                                    <div class="abox-showcount">
                                        <eq name="vo.saytyp.get" value="biding">
                                            <span class="count-num">{$vo.scount}</span>
                                            <span class="count-txt">次出价</span>
                                        </eq>
                                        <eq name="vo.saytyp.get" value="future">
                                            <span class="count-num">{$vo.clcount}</span>
                                            <span class="count-txt">人想拍</span>
                                        </eq>
                                        <eq name="vo.saytyp.get" value="bidend">
                                            <span class="count-num">{$vo.endcount}</span>
                                            <span class="count-txt">件成交</span>
                                        </eq>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </volist>
            </empty>
        </ul>
    </div>
</div>
<script type="text/javascript">
var ajaxGetmeetingTime = "{:U('Meeting/ajaxmeetinggettime')}";
var ajaxCheckmeetingSucc = "{:U('Meeting/checkmeetingsucc')}";
var endDowntimer = [];
// 结束倒计时
function meetingCountDown(ck,mid,etime,ntime,boxobj,day_elem,hour_elem,minute_elem,second_elem,msec_elem){
    var now_time = new Date(ntime*1000);
    var end_time = new Date(etime*1000);
    var native_time = new Date().getTime(); //本地时间
    var now_cha = now_time - native_time; //服务器和本地时间差
    var native_end_time = end_time - now_cha; //本地结束时间
    var sys_second = 0;
    endDowntimer[mid] = setInterval(function(){
        // 检查本地时间是否更改
        if(Math.abs(native_time - new Date().getTime())>5000){
            clearInterval(endDowntimer[mid]);
            $.post(ajaxGetmeetingTime, {'ck':ck,'mid':mid},function(data){
                clearInterval(endDowntimer[mid]);
                meetingCountDown(ck,mid,data.cktime,data.nowtime,boxobj,day_elem,hour_elem,minute_elem,second_elem,msec_elem);
            });
        }
        sys_second = (native_end_time - new Date().getTime())/100; //本地结束剩余时间
        if (sys_second > 0) {
            sys_second -= 1;
            var day = Math.floor((sys_second / 36000) / 24);
            var hour = Math.floor((sys_second / 36000) % 24);
            var minute = Math.floor((sys_second / 600) % 60);
            var second = Math.floor((sys_second/10) % 60);
            var msec = Math.floor(sys_second % 10); //毫秒
            day_elem && $(day_elem).text(day);//计算天
            $(hour_elem).text(hour<10?"0"+hour:hour);//计算小时
            $(minute_elem).text(minute<10?"0"+minute:minute);//计算分
            $(second_elem).text(second<10?"0"+second:second);// 计算秒
            $(msec_elem).text(msec);// 计算秒的1/10
            native_time = new Date().getTime();
        } else { 
            clearInterval(endDowntimer[mid]);
            // 本地时间结束提交服务器验证是否结束
            $.post(ajaxCheckmeetingSucc, {'ck':ck,'mid':mid},function(cdata){
                if(cdata.status==0){
                    clearInterval(endDowntimer[mid]);
                    meetingCountDown(ck,mid,cdata.cktime,cdata.nowtime,boxobj,day_elem,hour_elem,minute_elem,second_elem,msec_elem);
                }else{
                    $('.li'+mid).remove();
                    // popup.success(cdata.info);
                    // setTimeout(function(){
                    //     popup.close("asyncbox_success");
                    // },2000);
                    
                }
            });
        }
    }, 100);
}

</script>