<include file="Common:meta" />
<title>角色管理-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="widgets">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <include file="Common:header" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">角色管理</div>
                            </div>
                            <div class="widget-body">
                                <div class="am-u-sm-12">
                                    <table width="100%" id="example-r" class="am-table am-table-compact tpl-table-black " >
                                        <thead>
                                            <tr>
                                                <td>序号</td>
                                                <td>组ID</td>
                                                <td>组名</td>
                                                <td>描述</td>
                                                <td>状态</td>
                                                <td>操作</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <volist name="list" id="vo" key="k">
                                                <tr id="{$vo.id}">
                                                    <td>{$k}</td>
                                                    <td>{$vo.id}</td>
                                                    <td>{$vo.name}</td>
                                                    <td>{$vo.remark}</td>
                                                    <td>{$vo.statusTxt}</td>
                                                    <td>
                                                        <div class="tpl-table-black-operation">
                                                            <if condition="$vo.pid eq 0">--<else/>
                                                                <a href="javascript:void(0);" class="opStatus" val="{$vo.status}">{$vo.chStatusTxt}</a>
                                                                <a href="{:U('Access/editRole',array('id'=>$vo['id']))}"><i class="am-icon-pencil"></i>编辑</a>
                                                                <a href="{:U('Access/changeRole',array('id'=>$vo['id']))}">权限分配</a>
                                                            </if>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </volist>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<include file="Common:footer_link" />
<script type="text/javascript">
    $(function(){
        //快捷启用禁用操作
        $(".opStatus").click(function(){
            var obj=$(this);
            var id=$(this).parents("tr").attr("id");
            var status=$(this).attr("val");
            $.getJSON("__URL__/opRoleStatus", { id:id, status:status }, function(json){
                if(json.status==1){
                    $(obj).attr("val",json.data.status).html(status==1?"启用":"禁用").parents("td").prev().html(status==1?"禁用":"启用");
                }
                AMUI.dialog.alert({content: json.info}); 
            });
        });
    });
</script>
</body>
</html>
