<include file="Common:meta" />
<title>评价买家-{$site.SITE_INFO.title}</title>
<meta name="keyword" content="{$site.SITE_INFO.keyword}">
<meta name="description" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<include file="Common:linkuser" />
<link href="__CSS__/appstyle.css" rel="stylesheet" type="text/css">
<body>
<include file="Common:header" />
<include file="Common:navigation" />
<div class="center">
    <div class="col-main">
        <div class="main-wrap">
            <div class="main-wrap-box am-form" >
                <div class="user-comment">
                    <!--标题 -->
                    <div class="am-cf on-user-title">
                        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">评价买家</strong> / <small>Evaluation</small></div>
                    </div>
                    <div class="comment-main">
                        <!--多个拍品评论-->
                        <div class="comment-list">
                            <div class="item-pic">
                                <a href="{:U('Auction/details',array('pid'=>$oinfo['pid']))}" class="J_MakePoint">
                                    <img src="{$oinfo.uid|getUserpic=###,1}" class="itempic">
                                </a>
                            </div>
                            <div class="item-title">
                                <div class="item-name" style="text-align: center;">
                                    <p class="item-basic-info"><empty name="oinfo.nickname">{$oinfo.account}<else/>{$oinfo.nickname}</empty> </p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <form id="evaluateForm" class="am-form am-form-horizontal">
                                <div class="item-comment">
                                    <textarea name="data[member_evaluate]" placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！" minlength="3" maxlength="200" required></textarea>
                                </div>
                                <div class="item-opinion">
                                    <li score="2"><i class="op1 active"></i>好评</li>
                                    <li score="1"><i class="op2"></i>中评</li>
                                    <li score="0"><i class="op3"></i>差评</li>
                                    <input type="hidden" value="2" name="data[member]">
                                </div>
                            </div>
                            <div class="info-btn">
                                <input type="hidden" name="data[order_no]" value="{$oinfo.order_no}">
                                <input type="submit" name="" value="发表评论" class="am-btn am-btn-danger am-btn-sm submitBtn">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--底部-->
    <include file="Common:footer"/>
    </div>
    <include file="Seller:menu"/>
</div>
<js href="--PUBLIC--/assets/js/jquery.form.js"/>
<script type="text/javascript">
// 表单提交
var $form = $('#evaluateForm');
var $subbtn = $(".submitBtn");
$form.validator({
    submit: function() {
        var formValidity = this.isFormValid();
        if (formValidity) {
            // 验证成功的逻辑
            $subbtn.button('loading');
            // 验证成功的逻辑
            $form.ajaxSubmit({url:document.URL,data:'',type:"POST",
                success:function(data, st) {
                    // 提示框
                    AMUI.dialog.alert({ title: data.title, content: data.info});
                    if(data.status==1){
                        setTimeout(function(){
                            top.window.location.href = data.url;
                        },1000);
                    }else{
                        $subbtn.button('reset');
                    }
                    return false;
                }
            });
        } else {
            $subbtn.button('reset');
        // 验证失败的逻辑
        }
    //阻止原生form提交
    return false;
    }
});
$(document).ready(function() {
    $(".comment-list .item-opinion li").click(function() {  
        $(this).prevAll().children('i').removeClass("active");
        $(this).nextAll().children('i').removeClass("active");
        $(this).children('i').addClass("active");
        $("input[name='data[member]").val($(this).attr('score'));
    });
 })
</script>
</body>
</html>
