<include file="Common:meta" />
<title>待发布拍卖-我是卖家-{$site.SITE_INFO.title}</title>
<meta name="keyword" content="{$site.SITE_INFO.keyword}">
<meta name="description" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<include file="Common:linkuser" />
<link href="__CSS__/gdstyle.css" rel="stylesheet" type="text/css">
<body>
<include file="Common:header" />
<include file="Common:navigation" />
        <div class="center">
            <div class="col-main">
                <div class="main-wrap">
                    <div class="main-wrap-box">
                        <div class="user-goods">
                            <!--标题 -->
                            <div class="am-cf on-user-title">
                                <div class="am-fl am-cf">
                                    <eq name="ACTION_NAME" value="goods_list">
                                        <strong class="am-text-danger am-text-lg">拍品列表</strong> / <small>Goods list</small>
                                    </eq>
                                    <eq name="ACTION_NAME" value="goods_search">
                                        <strong class="am-text-danger am-text-lg">搜索结果</strong> / <small>Search result</small>
                                    </eq>
                                     
                                </div>
                            </div>
                            <empty name="list">
                                哎哟！这里空空如也！
                            <else/>
                                <div class="searchbox am-cf">
                                    <form class="am-form am-form-inline am-cf" action="{:U('Seller/goods_search')}" method='get'>
                                        <label for="">关键字：</label>
                                        <input type="text" value="{$keys.keyword}" name="keyword" class="input" placeholder="搜索标题的关键字" />
                                        <label for="">频道/分类：</label>
                                        <select id="Js-channel" class="catesel" name="pid">
                                                <option value="">所有频道</option>
                                                <volist name="channel" id="vo">
                                                    <if condition="$vo[cid] eq $keys[pid]">
                                                        <option value="{$vo.cid}" selected="selected">{$vo.name}</option>
                                                        <else/>
                                                        <option value="{$vo.cid}">{$vo.name}</option>
                                                    </if>
                                                </volist>
                                            </select>
                                            <span id="Js-cateSelectBox"></span>
                                            <button class="am-btn am-btn-danger">筛选</button>
                                    </form>
                                </div>
                                <eq name="ACTION_NAME" value="goods_search">
                                    <div class="searchmsg">
                                        在<span class="keyword">{$keys.chname}</span>频道的<span class="keyword">{$keys.catname}</span>分类下找到<span class="keyword">{$keys.count}</span>个<if condition="$keys['keyword'] != ''">与<span class="keyword">{$keys.keyword}</span>相关的</if>拍品！
                                    </div>
                                </eq>
                                <div class="goodslist">
                                    <div class="order-top">
                                        <div class="th th-item">
                                            <td class="td-inner">拍品</td>
                                        </div>
                                        <div class="th th-orderprice th-price">
                                            <td class="td-inner">价格</td>
                                        </div>
                                        <div class="th th-changeprice th-price">
                                            <td class="td-inner">频道/分类</td>
                                        </div>
                                        <div class="th th-status th-moneystatus">
                                            <td class="td-inner">发布</td>
                                        </div>
                                        <div class="th th-change th-changebuttom">
                                            <td class="td-inner">操作</td>
                                        </div>
                                    </div>
                                    <div class="order-main">
                                        <div class="order-list">
                                            <volist name="list" id="vo">
                                                <div class="order-status5">
                                                    <div class="order-title">
                                                        <div class="dd-num">发布时间：{$vo.published|date="Y-m-d H:i:s",###}</div>
                                                        <!--    <em>店铺：小桔灯</em>-->
                                                    </div>
                                                    <div class="order-content">
                                                        <div class="order-left">
                                                            <ul class="item-list">
                                                                <li class="td td-item">
                                                                    <div class="item-pic">
                                                                        <img src="{$upWholeUrl}{$vo.pictures||getPicUrl=###,3,0}" class="itempic J_ItemImg">
                                                                    </div>
                                                                    <div class="item-info">
                                                                        <div class="item-basic-info">
                                                                            <p>{$vo.title}</p>
                                                                            
                                                                                <empty name="vo.filtrate">
                                                                                    <p style="height: 48px; overflow: hidden; color: #999;">{$vo.description}</p>
                                                                                <else/>
                                                                                    <p class="filtrate-box am-cf">
                                                                                        <foreach name="vo.filtrate" item="fv">
                                                                                            <span>{$fv}</span>
                                                                                        </foreach>
                                                                                    </p>
                                                                                </empty>
                                                                                
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <ul class="td-changeorder">
                                                                    <li class="td td-orderprice">
                                                                        <div class="item-orderprice">
                                                                            <span>&nbsp;&nbsp;价格：</span>{$vo.price}
                                                                        </div>
                                                                    </li>
                                                                    <li class="td td-changeprice">
                                                                        <div class="item-changeprice">
                                                                            <span>频道/分类：</span>{$vo.pidName}/{$vo.cidName}
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="clear"></div>
                                                            </ul>
                                                            <div class="change move-right">
                                                                <li class="td td-moneystatus td-status">
                                                                    <div class="item-status">
                                                                        <p class="Mystatus">
                                                                            拍卖<a class="link" href="{:U('Seller/auction_search',array('gid'=>$vo[id]))}">{$vo.bidcount}次</a>
                                                                        </p>

                                                                    </div>
                                                                </li>
                                                            </div>
                                                            <li class="td td-change td-changebutton">

                                                                <a class="am-btn am-btn-danger anniu" href="{:U('Seller/auction_add',array('to'=>js,'gid'=>$vo['id']))}">发布拍卖</a>
                                                                <a class="am-btn am-btn-secondary anniu" href="{:U('Seller/goods_edit',array('id'=>$vo['id']))}">编辑</a>
                                                                <a class="am-btn am-btn-default link anniu Js-del" link="{:U('Seller/goods_del/',array('id'=>$vo['id']))}" href="javascript:void(0)" name="{$vo.title}">删除</a>
                                                                <!-- <a class="am-btn am-btn-danger anniu" href="record.html">钱款去向</a> -->
                                                            </li>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </volist> 
                                            {$page}
                                        </div>
                                    </div>
                                </div>
                            </empty>
                        </div>
                    </div>
                </div>
                <!--底部-->
                <include file="Common:footer"/>
            </div>
            <include file="Seller:menu"/>
            
        </div>
        <script type="text/javascript">
            // 通过频道获取分类【
            var cid = "{$keys.cid|default=0}";
            var getCateUrl ="{:U('Seller/getcate')}";
            
            $('#Js-channel').on("change",function(){
                var chePid = $(this).children('option:selected').attr('value');
                cid = 0;
                getCateHtml(chePid,cid);
            });
            // 获取分类select的html
            function getCateHtml(chePid){
               $.post(getCateUrl,{'pid':chePid,'cid':cid,'required':0},function(data){      //ajax后台
                $('#Js-cateSelectBox').html('');
                if (data.status) {
                        $('#Js-cateSelectBox').html(data.htm);
                        $('#Js-cate').focus();
                    }
                },'json');
            }
            // 通过频道获取分类】
            $(function(){
                getCateHtml($('#Js-channel').val(),cid);
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>
