<include file="Common:meta" />
<title><eq name="ACTION_NAME" value="special_add">添加专场</eq><eq name="ACTION_NAME" value="special_edit">编辑专场</eq>-{$site.SITE_INFO.title}</title>
<meta name="keyword" content="{$site.SITE_INFO.keyword}">
<meta name="description" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<include file="Common:linkuser" />
<link href="__CSS__/filtstyle.css" rel="stylesheet" type="text/css">
<body>
<include file="Common:header" />
<include file="Common:navigation" />
<div class="center">
    <div class="col-main">
        <div class="main-wrap">
            <div class="main-wrap-box" >
                    <!--标题 -->
                    <div class="am-cf on-user-title">
                        <div class="am-fl am-cf">
                            <empty name="pid">
                                <eq name="ACTION_NAME" value="special_edit"><strong class="am-text-danger am-text-lg">编辑专场</strong> / <small>Edit&nbsp;Special</small></eq>
                                <eq name="ACTION_NAME" value="special_add"><strong class="am-text-danger am-text-lg">添加专场</strong> / <small>Add&nbsp;Special</small></eq>
                            <else/>
                                <eq name="ACTION_NAME" value="auction_edit"><strong class="am-text-danger am-text-lg">编辑拍卖</strong> / <small>Edit&nbsp;Auction</small></eq>
                                <eq name="ACTION_NAME" value="special_edit"><strong class="am-text-danger am-text-lg">编辑专场</strong> / <small>Edit&nbsp;Special</small></eq>
                            </empty>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger" data-am-alert>
                        <button type="button" class="am-close">&times;</button>
                        <p>没有拍品的专场不会展现给用户！发布过专场后请尽快填充拍品！</p>
                    </div>
                    <div class="special_add">
                        <form id="special_addForm" class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <label for="sname" class="am-form-label">专场名称</label>
                                <div class="am-form-content">
                                    <input id="sname" type="text" placeholder="专场名称" name="data[sname]" value="{$info.sname}" minlength="3" maxlength="20" required/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="description" class="am-form-label">专场描述</label>
                                <div class="am-form-content">
                                    <textarea id="description" placeholder="专场描述" name="data[description]" required>{$info.description}</textarea>
                                </div>
                            </div>

                            
                            <if condition="!$edit">
                                <div class="am-form-group">
                                    <label for="start_time" class="am-form-label">开始时间</label>
                                    <div class="am-form-content">
                                        <div class="am-input-group date">
                                          <input id="start_time" placeholder="开始时间" type="text" class="am-form-field" size="20" name="data[starttime]" value="<neq name='info.starttime' value=''>{$info.starttime|date='Y-m-d H:i',###}<else/>{$start_date}</neq>" readonly required/>
                                          <span class="am-input-group-label add-on"><i class="icon-th am-icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="end_time" class="am-form-label">结束时间</label>
                                    <div class="am-form-content">
                                        <div class="am-input-group">
                                          <input id="end_time" placeholder="结束时间" type="text" class="am-form-field" size="20" name="data[endtime]" value="<neq name='info.endtime' value=''>{$info.endtime|date='Y-m-d H:i',###}</neq>" readonly required/>
                                          <span class="am-input-group-label add-on"><i class="icon-th am-icon-calendar"></i></span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="special_pledge_type" class="am-form-label">保证金</label>
                                    <div class="am-form-content">
                                            <label class="am-radio-inline">
                                                <input id="type1" type="radio" name="data[special_pledge_type]" value="0" data-am-ucheck <neq name="info.special_pledge_type" value="1">checked</neq>> 专场收取
                                            </label>
                                            <label class="am-radio-inline">
                                                <input id="type" type="radio" name="data[special_pledge_type]" value="1" data-am-ucheck <eq name="info.special_pledge_type" value="1">checked</eq>> 分别收取
                                            </label>
                                        <div id="Js-pledge-box"></div>
                                    </div>
                                </div>
                            <else/>
                                <div class="am-form-group">
                                    <label class="am-form-label"></label>
                                    <div class="am-form-content">
                                        已开拍和已结束的专场禁止编辑开始时间、结束时间、保证金
                                    </div>
                                </div>
                            </if>
                            <div class="am-form-group">
                                <label for="rec" class="am-form-label">列表图</label>
                                <div class="am-form-content">
                                    <div class="uploadePic-box am-margin-bottom-0 am-cf">
                                        <ul  data-am-widget="gallery" data-am-gallery="{pureview:{target: 'a.showurl'}}">
                                            <notempty name="info.spicture">
                                                <li class="img-box">
                                                    <div class="upImg-list-box am-gallery-item">
                                                        <a class="showurl" href="{$info.spicture}" ><img src="{$upWholeUrl}{$info.spicture}"><input type="hidden" name="data[spicture]" value="{$info.spicture}" /></a>
                                                    </div>
                                                </li>
                                            </notempty>
                                            <li class="upImg-lighthouse">
                                                <div class="upImg-list-box">
                                                    <div class="filePic">
                                                        <i class="am-icon-cloud-upload"></i><div class="txt">上传图片</div>
                                                        <input type="file" pname="data[spicture]" link="{:U('Upload/upSpecialIco')}" class="upInput" value="选择凭证图片" name="file" max="5" maxsize="5120" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*" multiple>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="on-form-tips">图片尺寸：宽{:C('SPECIAL_ICO_WIDTH')}px；高{:C('SPECIAL_ICO_HEIGHT')}px</div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="rec" class="am-form-label">BANNER图</label>
                                <div class="am-form-content">
                                    <div class="uploadePic-box am-margin-bottom-0 am-cf">
                                        <ul  data-am-widget="gallery" data-am-gallery="{pureview:{target: 'a.showurl'}}">
                                            <notempty name="info.sbanner">
                                                <li class="img-box">
                                                    <div class="upImg-list-box am-gallery-item">
                                                        <a class="showurl" href="{$info.sbanner}" ><img src="{$upWholeUrl}{$info.sbanner}"><input type="hidden" name="data[sbanner]" value="{$info.sbanner}" /></a>
                                                    </div>
                                                </li>
                                            </notempty>
                                            <li class="upImg-lighthouse">
                                                <div class="upImg-list-box">
                                                    <div class="filePic">
                                                        <i class="am-icon-cloud-upload"></i><div class="txt">上传图片</div>
                                                        <input type="file" pname="data[sbanner]" link="{:U('Upload/upSpecialBnner')}" class="upInput" value="选择凭证图片" name="file" max="5" maxsize="5120" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*" multiple>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="on-form-tips">图片尺寸：宽{:C('SPECIAL_BANNER_WIDTH')}px；高{:C('SPECIAL_BANNER_HEIGHT')}px</div>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" name="data[sid]" value="{$info.sid}" />
                                <ul class="user-frame am-avg-sm-1">
                                     <li>
                                        <button style="width: 100%;" class="am-btn am-btn-danger on-btn-danger submitBtn">保存</button>
                                     </li>
                                </ul>
                            </div>
                            {__TOKEN__}
                        </form>
                    </div>
            </div>
        </div>
        <!--底部-->
    <include file="Common:footer"/>
    </div>
    <include file="Seller:menu" />
<div id="Js-ratio-cach" style="display: none;">
    <div class="on-selshow-con">
        保证金：<input id="succprice" class="input" type="number" step="0.1" name="data[spledge]" value="{$info.spledge|default=0}" placeholder="保证金" required/>
    </div>
    <div class="on-form-tips">仅需缴纳专场保证金，即可享有专场内所有拍品的出价。未拍到：专场结束解冻保证金;拍到：支付所有专场订单解冻保证金。</div>
</div>
<div id="Js-fixation-cach" style="display: none;">
    <div class="on-form-tips">参拍专场内每件拍品都需要缴纳相应保证金。未拍到：拍品结束解冻保证金；拍到：可保证金抵货款或支付订单后解冻保证金。</div>
</div>
</div>
<js href="--PUBLIC--/assets/js/jquery.form.js"/>
<js href="--PUBLIC--/PhotoClipJs/lrz.all.bundle.js"/>
<!-- 日期时间插件【 -->
<link href="--PUBLIC--/datetimepicker/amazeui.datetimepicker.css" rel="stylesheet" type="text/css">
<js href="--PUBLIC--/datetimepicker/amazeui.datetimepicker.js"/>
<js href="--PUBLIC--/datetimepicker/locales/amazeui.datetimepicker.zh-CN.js"/>
<!-- 日期时间插件 -->
<js href="__JS__/single_picture_upload.js"/>
<script type="text/javascript">
    var start_date = "{$start_date}";
    $(function(){
        //为input添加时间插件
        $('#start_time').datetimepicker({language:  'zh-CN',startDate:start_date,autoclose:true,todayBtn:true,format: 'yyyy-mm-dd hh:ii'});
        $('#end_time').datetimepicker({language:  'zh-CN',startDate:start_date,autoclose:true,format: 'yyyy-mm-dd hh:ii'});
        //为input添加插件_end
    });
    // 保证金收取模式【
        typecheck();
        $(":radio[name='data[special_pledge_type]']").click(function(){
            typecheck();
         });
        function typecheck(){
            if ($("input[name='data[special_pledge_type]']:checked").val()!=1) {
                $('#Js-pledge-box').html($('#Js-ratio-cach').html());
            }else{
                $('#Js-pledge-box').html($('#Js-fixation-cach').html());
            } 
        }
    // 保证金收取模式】
// 表单提交【
        var $form = $('#special_addForm');
        var $subbtn = $(".submitBtn");
        $form.validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if (formValidity) {
                    // 验证成功的逻辑
                    $subbtn.button('loading');
                    // 验证成功的逻辑
                    $form.ajaxSubmit({url:document.URL,data:'',type:"POST",
                        success:function(data, st) {
                            // 提示框
                            AMUI.dialog.alert({ title: data.title, content: data.info});
                            if(data.status!=1){$subbtn.button('reset');}
                            if (data.url) {
                                setTimeout(function(){
                                    top.window.location.href = data.url;
                                },1000);
                            }
                            return false;
                        }
                    });
                } else {
                    $subbtn.button('reset');
                // 验证失败的逻辑
                }
            //阻止原生form提交
            return false;
            }
        });
// 表单提交】 
</script>
    </body>
</html>
