<include file="Common:meta" />
<title>{$saytyp.ch|default=今日专场}-专场拍卖-{$site.SITE_INFO.title}</title>
<meta name="keyword" content="{$site.SITE_INFO.keyword}">
<meta name="description" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<link href="__CSS__/demo.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/auctionlist.css" rel="stylesheet" type="text/css">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<body>
<include file="Common:header_topnav" />
<include file="Common:header_search" />
<include file="Common:navigation" />
    <div class="on-mt on-mb">
        <div class="auction-list">
            <!-- 拍卖时间段】 -->
            <ul class="sort am-avg-sm-4">
                <li <empty name="saytyp.get">class="first"</empty>><a href="{:U('Special/index')}" title="今日专场">今日专场</a></li>
                <li <eq name="saytyp.get" value="biding">class="first"</eq>><a href="{:U('Special/index',array('typ'=>'biding'))}" title="今日专场">全部在拍</a></li>
                <li <eq name="saytyp.get" value="future">class="first"</eq>><a href="{:U('Special/index',array('typ'=>'future'))}" title="专场预展">专场预展</a></li>
                <li class="big <eq name='saytyp.get' value='bidend'>first</eq>" ><a href="{:U('Special/index',array('typ'=>'bidend'))}" title="历史专场">历史专场</a></li>
            </ul>
            <!-- 拍卖时间段】 -->
            <include file="Special:special"/>
        </div>
    </div>
    <include file="Common:footer"/>
    <include file="Common:query_links"/>
    </body>

</html>