<include file="Common:meta" />
<title>订单配置-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="widgets">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <include file="Common:header" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">订单配置</div>
                            </div>

                            <div class="widget-body am-fr">
                                <form id="rechargeableForm" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="widget-sun-head">正常流程</div>
                                    <div class="am-form-group">
                                        <label for="losetime1" class="am-u-sm-3 am-form-label">买家支付期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime1]" value="{$order.losetime1}" required/>
                                                天&nbsp;&nbsp;订单生成后，买家的支付期限。如果过期将扣除买家保证金，扣除佣金后自动转入卖家账户。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="losetime2" class="am-u-sm-3 am-form-label">卖家发货期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime2]" value="{$order.losetime2}" required/>
                                                天&nbsp;&nbsp;买家确认支付后，卖家发货时间期限。如果过期未发货，将扣除卖家保证金转入卖家账户。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="losetime3" class="am-u-sm-3 am-form-label">买家收货期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime3]" value="{$order.losetime3}" required/>
                                                天&nbsp;&nbsp;卖家发货后，买家确认收货时间。如过期将自动确认收货。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="losetime4" class="am-u-sm-3 am-form-label">买家评价期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime4]" value="{$order.losetime4}" required/>
                                                天&nbsp;&nbsp;买家确认收货或自动确认收货后，买家的评价期限。如过期将自动确认默认好评。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="losetime10" class="am-u-sm-3 am-form-label">卖家评价期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime10]" value="{$order.losetime10}" required/>
                                                天&nbsp;&nbsp;买家评价后，卖家评价买家的时间。如过期将自动好评。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="liquidated" class="am-u-sm-3 am-form-label">违约处理</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                如未按时支付或未按时发货网站抽取保证金的
                                                <input type="number" step="1" class="input" name="order[liquidated]" value="{$order.liquidated}" required/>%，剩余部分转入对方账户
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-sun-head">退货流程</div>
                                    <div class="am-form-group">
                                        <label for="losetime6" class="am-u-sm-3 am-form-label">回复退货期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime6]" value="{$order.losetime6}" required/>
                                                天&nbsp;&nbsp;买家申请退货后，卖家同意退货，如过期将默认卖家为不同意退货。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="losemediate" class="am-u-sm-3 am-form-label">申请调解期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losemediate]" value="{$order.losemediate}" required/>
                                                天&nbsp;&nbsp;卖家拒绝退货，买家申请调解，如过期将默认买家收货进入正常流程。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="losetime8" class="am-u-sm-3 am-form-label">买家发货期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime8]" value="{$order.losetime8}" required/>
                                                天&nbsp;&nbsp;卖家同意退货后，买家发货，如过期将默认设置为买家已收货进入正常收货流程。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="losetime9" class="am-u-sm-3 am-form-label">卖家收货期限</label>
                                        <div class="am-u-sm-9">
                                             <div class="on-selshow-con">
                                                <input type="number" step="1" class="input" name="order[losetime9]" value="{$order.losetime9}" required/>
                                                天&nbsp;&nbsp;买家发货后，买家确认收货。如过期将自动确认收货，退货款项转入买家账户。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="cause" class="am-u-sm-3 am-form-label">退货原因</label>
                                        <div class="am-u-sm-9">
                                             <textarea id="cause" name="order[cause]">{$order.cause}</textarea>
                                            <small>多个原因用英文状态下的","逗号分隔</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <input type="hidden" name="info[id]" value="{$info.id}" />
                                            <input type="submit" name="" value="提交" class="am-btn am-btn-primary tpl-btn-bg-color-success submitBtn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<include file="Common:footer_link" />
<script type="text/javascript">
    // 表单提交
        var $form = $('#rechargeableForm');
        var $subbtn = $(".submitBtn");
        $form.validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if (formValidity) {
                    // 验证成功的逻辑
                    $subbtn.button('loading');
                    // 验证成功的逻辑
                    $form.ajaxSubmit({url:document.URL,data:'',type:"POST",
                        success:function(data, st) {
                            // 提示框
                            AMUI.dialog.alert({ title: data.title, content: data.info});
                            if(data.status==1){
                                setTimeout(function(){
                                    top.window.location.href = data.url;
                                },1000);
                            }else{
                                $subbtn.button('reset');
                            }
                            return false;
                        }
                    });
                } else {
                    $subbtn.button('reset');
                // 验证失败的逻辑
                }
            //阻止原生form提交
            return false;
            }
        });
</script>
</body>
</html>