<include file="Common:meta" />
<title>推广反馈-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="widgets">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <include file="Common:header" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="container-fluid">
                <p class="page-header-description">在用户注册时候会显示推广渠道可选项，以便搜集信息。</p>
            </div>
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">推广反馈</div>
                            </div>
                            <div class="widget-body">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a href="{:U('Member/feedback_add')}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 添加推广项</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12">
                                    <empty name="list">
                                    <div class="on-none">未查询到数据</div>
                                    <else/>
                                        <table width="100%" id="example-r" class="am-table am-table-compact tpl-table-black " >
                                            <thead>
                                                <tr>
                                                    <td>ID</td>
                                                    <td>推广名</td>
                                                    <td>反馈统计</td>
                                                    <td>操作</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <volist name="list" id="vo">
                                                    <tr>
                                                        <td>{$vo.id}<input type="hidden" name="id" value="{$vo.id}"/></td>
                                                        <td>{$vo.name}</td>
                                                        <td>{$vo.count}</td>
                                                        <td>
                                                        <div class="tpl-table-black-operation">
                                                        <a href="{:U('Member/feedback_del',array('id'=>$vo['id']))}" class="tpl-table-black-operation-del"><i class="am-icon-trash-o"></i>删除</a>
                                                        </div>
                                                        </td>
                                                    </tr>
                                                </volist>
                                            </tbody>
                                        </table>
                                        <div class="am-u-lg-12 am-cf">
                                            <div class="am-fr">
                                                <div class="am-pagination tpl-pagination">
                                                    {$page}
                                                </div>
                                            </div>
                                        </div>
                                    </empty>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Common:footer_link" />
</body>
</html>