<include file="Common:meta" />
<title><eq name="ACTION_NAME" value="search">注册用户搜索结果<else/>注册用户管理</eq>-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="widgets">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <include file="Common:header" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
        <eq name="ACTION_NAME" value="search">
            <div class="container-fluid">
                <p class="page-header-description">
                    搜索的关键词<span class="am-text-danger">{$keys.keyword}</span>在<span class="am-text-danger">{$keys.field}</span>字段内找到<span class="am-text-danger">{$keys.count}</span>条
                </p>
            </div>
        </eq>
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl"><eq name="ACTION_NAME" value="search">注册用户搜索结果<else/>注册用户管理</eq></div>
                            </div>
                            <div class="widget-body am-cf">
                                <form id="searchForm" action="{:U('search')}" method='get' class="am-form tpl-form-border-form tpl-form-border-br  am-u-sm-12 am-u-md-12 am-u-lg-5 am-fr am-cf">
                                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-5">
                                        <div class="am-form-group am-input-group-sm">
                                            <select name="field" data-am-selected="{btnSize: 'sm'}">
                                                <option value="account" <eq name="keys.field" value="account">selected="selected"</eq>>账号</option>
                                                <option value="nickname" <eq name="keys.field" value="nickname">selected="selected"</eq>>昵称</option>
                                                <option value="email" <eq name="keys.field" value="email">selected="selected"</eq>>邮箱</option>
                                                <option value="mobile" <eq name="keys.field" value="mobile">selected="selected"</eq>>手机</option>
                                            </select>
                                         </div>
                                    </div>
                                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-5">
                                        <div class="am-form-group am-input-group-sm">
                                            <input type="text" class="am-form-field " value="{$keys.keyword}" name="keyword" placeholder="搜索标题的关键字"/>
                                         </div>
                                    </div>
                                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-2">
                                        <div class="am-btn-group am-btn-group-xs" style="width: 100%;">
                                            <input style="line-height: 21px;" type="submit" value="筛选" act="0" class="am-btn tpl-table-list-field am-u-sm-12 am-u-md-12 am-u-lg-12 am-btn-success">
                                        </div>
                                    </div>
                                </form>
                                <div class="am-u-sm-12">
                                    <empty name="list">
                                    <div class="on-none">未查询到数据</div>
                                    <else/>
                                        <table width="100%" id="example-r" class="am-table am-table-compact tpl-table-black " >
                                            <thead>
                                                <tr>
                                                    <td>选择/UID</td>
                                                    <td>登录账号</td>
                                                    <td>邮箱/手机号</td>
                                                    <td>买家等级</td>
                                                    <td>卖家等级/信誉</td>
                                                    <td>登录IP/注册时间</td>
                                                    <td>地址薄</td>
                                                    <td>操作</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <volist name="list" id="vo">
                                                    <tr align="center" id="{$vo.id}">
                                                        <td align="left"><input name="uid[]" type="checkbox" value="{$vo.uid}" >&nbsp;/&nbsp;{$vo.uid}</td>
                                                        <td align="left">
                                                            <div class="ushow">
                                                                <img class="uimg" src="{$vo.uid|getUserpic=###,2}" alt="" />
                                                                <div class="utxt">账号：{$vo.account}<br/>昵称：{$vo.nickname}<if condition="$vo['sex'] eq 0"><span class="am-text-danger">(女)</span><else /><span class="am-text-primary">(男)</span></if></div>
                                                            </div>
                                                        </td>
                                                        <td align="left">
                                                            
                                                            邮箱：{$vo.email|default="无"} <notempty name="vo.email"><eq name="vo.verify_email" value="1"><span class="am-text-success">（已认证）</span><else/><span class="am-text-warning">（未认证）</span></eq>
                                                            </notempty>
                                                            <br/>
                                                            手机号：{$vo.mobile|default="无"}<notempty name="vo.mobile"><eq name="vo.verify_mobile" value="1"><span class="am-text-success">（已认证）</span><else/><span class="am-text-warning">（未认证）</span></eq>
                                                            </notempty>
                                                        </td>
                                                        <td align="left"><img  style="vertical-align: middle;" src="{$vo.levalbuy}" /></td>
                                                        <td align="left">
                                                            等级：<img  style="vertical-align: middle;" src="{$vo.leval}" /><br/>
                                                            信誉：<span style="vertical-align: middle;" id="credit{$key}"></span>
                                                            <script type="text/javascript">
                                                                $(function(){
                                                                    $('#credit{$key}').raty({
                                                                        readOnly: true,
                                                                        score: Number("{$vo.evaluate}"),
                                                                        path : start_path
                                                                    });
                                                                });
                                                            </script>
                                                        </td>
                                                        <td align="left">
                                                            登陆IP：{$vo.login_ip}<br/>
                                                            注册于：{$vo.reg_date|date='Y-m-d H:i',###}
                                                        </td>
                                                        <td><a href="{:U('Member/deliver_address',array('uid'=>$vo['uid']))}">{$vo.adcount}个地址</a></td>
                                                        <td>
                                                            <div class="tpl-table-black-operation">
                                                                <div class="am-margin-bottom-xs">
                                                                <a href="{:U('Member/edit',array('uid'=>$vo['uid']))}"><i class="am-icon-pencil"></i>信息编辑</a>
                                                                <a href="{:U('Member/wallet',array('uid'=>$vo['uid']))}"><i class="am-icon-pencil"></i>账户编辑</a>
                                                                <a link="{:U('Member/del/',array('uid'=>$vo['uid']))}" href="javascript:void(0)" name="{$vo.account}" class="tpl-table-black-operation-del del"><i class="am-icon-trash-o"></i>删除</a>
                                                                </div>

                                                                <a href="{:U('Member/sendsms',array('uid'=>$vo['uid']))}"><i class="am-icon-envelope"></i>发站内信</a>
                                                                <a href="{:U('Member/index',array('sourceuid'=>$vo['uid']))}"><i class="am-icon-share-alt"></i>他的推广</a>
                                                                <a uid="{$vo.uid}" status="{$vo.status}" href="javascript:void(0)" class="tpl-table-black-operation-del prohibit"><i class="am-icon-ban"></i><span><eq name="vo.status" value="1">禁用<else/>启用</eq></span></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </volist>
                                            </tbody>
                                        </table>
                                        <div class="am-u-lg-12 am-cf">
                                            <div class="am-fr">
                                                <div class="am-pagination tpl-pagination">
                                                    {$page}
                                                </div>
                                            </div>
                                        </div>
                                    </empty>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Common:footer_link" />
<js href="--PUBLIC--/Js/jquery_raty/jquery.raty.min.js"/>
<script type="text/javascript">
        var paylistUrl = "{:U('Member/sendsms','','')}";
        var start_path = "--PUBLIC--/Js/jquery_raty/img";
        var paylistUrl = "{:U('Member/sendsms','','')}";
        var prohibitUrl = "{:U('Member/prohibit','','')}";
            $(function(){
                $("#allcbox").click(function() {
                    $('input[name="uid[]"]').prop("checked",this.checked);
                });
                var $subBox = $("input[name='uid[]']");
                $subBox.click(function(){
                    $("#allcbox").prop("checked",$subBox.length == $("input[name='uid[]']:checked").length ? true : false);
                });
                $(".submit").click(function(){
                    if($("input[name='uid[]']:checked").length!=0){
                        var str="";
                        for (var i=0;i<$("input[name='uid[]']").length;i++ ){
                            if($("input[name='uid[]']")[i].checked){
                                str=str+$("input[name='uid[]']")[i].value + "_";
                            }
                        }
                        str=str.substring(0,str.length-1);
                        document.location.href =paylistUrl+'?uid='+str;
                    }else{
                       popup.alert('您至少需要选中一个要处理的订单');
                        setTimeout(function(){
                            popup.close("asyncbox_alert");
                        },2000);
                    }
                    return false;
                });
                
            });
            // 删除
            $(".del").click(function(){
                var delLink=$(this).attr("link");
                AMUI.dialog.confirm({ title: '温馨提示', content:'你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?', onConfirm: function() {
                    top.window.location.href=delLink;
                }, onCancel: function() { console.log('onCancel') } });
                return false;
            });
            // 禁用
            $(".prohibit").click(function(){
                var that = $(this);
                var status=that.attr("status");
                var uid=that.attr("uid");
                $.post(prohibitUrl,{'uid':uid,'status':status},function(data){
                    if (data.status) {
                        console.log(data.status);
                        if (status==1) {
                            that.attr("status",0);
                            that.find('span').html('启用');
                        }else{
                            that.attr("status",1);
                            that.find('span').html('禁用');
                        }
                    };
                    
                    AMUI.dialog.alert({ title: data.title, content: data.info});
                },'json');
            });
        </script>
</body>
</html>