<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{$site.SITE_INFO.keyword}" />
        <meta name="description" content="{$site.SITE_INFO.description}" />
        <title>充值卡充值-账号中心-{$site.SITE_INFO.title}</title>
        <include file="Common:intoHead" />
        <css href="__CSS__/user.css"/>
        <js href="__JS__/user.js"/>
    </head>
    <body>
    <include file="Common:head_narrow" />
<div id="container_white">
    <div class="main_b9">
        <div class="h8 clearfix"></div>
        <div class="main_b3_top"><a href="">首　页</a>&nbsp;&gt;&gt;&nbsp;账号中心&nbsp;&gt;&gt;&nbsp;充值卡充值</div>
        <div class="main_b9_1 clearfix">
            <!--左侧导航开始-->
            <include file="Member:menu" />
            <!--左侧导航结束-->
            <!---右侧开始-->
            <div class="sider">
                <ul class="inquiry">
                    <li>
                        <a href="{:U('Member/payment')}">在线充值</a>
                    </li>
                    <li class="hover"><a href="{:U('Member/rechargeable')}">充值卡充值</a></li>
                </ul>
                <div class="inquiry-con">
                    <div class="zhyts">
                        <strong>注：如果您的充值卡账号密码输入错误达到三次，充值卡将被锁定，第二天解锁！</strong>
                    </div>
                    <form id="remaining" action="{:U('Member/rechargeable')}" name="remaining" method="post">
                        <div class="my_info">
                            <dl class="clearfix">
                                <dt>账号：</dt>
                                <dd><input type="text" size="30" id="cardno" name="data[cardno]" class="input"></dd>
                                <dd><div id="cardnoTip"></div></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>密码：</dt>
                                <dd><input type="text" size="30" id="pwd" name="data[pwd]" class="input"></dd>
                                <dd><div id="pwdTip"></div></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>&nbsp;</dt>
                                <dd>
                                    <input type="submit" value="查询充值" id="submit" class="on-btn on-btn-red submit">
                                </dd>
                            </dl>
                        </div>
                    </form>
                </div>
            </div>
            <!---右侧结束-->
        </div>
        <!--auction.html结束-->
    </div>
</div>
<!---底部开始-->
<include file="Common:help_narrow" />
<include file="Common:footer"/>

<js href="--PUBLIC--/Js/formValidator/formValidator-4.1.3.js"/>
<js href="--PUBLIC--/Js/formValidator/formValidatorRegex.js"/>

<script type="text/javascript">
var rechargeable = "{:U('Member/rechargeable')}";
    $(function(){
        // 表单验证【
        $.formValidator.initConfig({formID:"remaining",submitButtonID:"submit"});
        $("#cardno").formValidator({onShow:"请输入充值卡账号",onFocus:"至少14个字符",onCorrect:"密码合法"}).inputValidator({min:14,empty:{leftEmpty:false,rightEmpty:false,emptyError:"充值卡账号两边不能有空符号"},onError:"充值卡账号至少14个字符,请确认"});
        $("#pwd").formValidator({onShow:"请输入充值卡密码",onFocus:"至少6个字符",onCorrect:"密码合法"}).inputValidator({min:6,empty:{leftEmpty:false,rightEmpty:false,emptyError:"密码两边不能有空符号"},onError:"密码至少6个字符,请确认"});
        // 表单验证】
        $("#submit").click(function(){
            if($.formValidator.pageIsValid('1')==true){
                var cardno = $('#cardno').val();
                var pwd = $('#pwd').val();
                $.post(rechargeable,{'cardno':cardno,'pwd':pwd,'verify':1},function(data){
                    var msg = '<dd class="zhyts"><strong>'+data.info+'</strong><br/>';
                    if (data.status) {
                        asyncbox.confirm(data.info,'充值卡充值',function(buttonResult){
                            popStatus(3, '充值处理中，请等待...', 0,'',true);
                            if(buttonResult == "ok"){
                                $.post(rechargeable,{'cardno':cardno,'pwd':pwd},function(data){
                                    if(data.status==1){
                                        popStatus(1, data.info, 2,data.url,true);
                                    }else{
                                        popStatus(2, data.info, 2,'',true);
                                    }
                                },'json');
                            }else{
                                $('#robotprice').removeAttr("disabled");
                            }
                        });
                    } else {
                        popStatus(2, data.info, 2,'',true);
                    }
                },'json');
            }
            return false;
        });
    });
</script>
</body>
</html>