<include file="Common:meta" />
<title>登录-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="login">
    <div class="am-g tpl-g">
        <include file="Common:tpl_skiner" />
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo"></div>
                <form id="loginForm" class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <input type="email" class="tpl-form-input" id="email" name="email" placeholder="请输入邮箱" required>
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" name="pwd" id="pwd" placeholder="请输入密码" required>
                    </div>
                    <div class="am-form-group verify-box">
                        <input type="number" class="tpl-form-input" id="verify_code" name="verify_code" placeholder="请输入验证码" required>
                        <img class="verifyImg" src="{:U('Public/verify_code')}"  title="看不清？单击此处刷新" onclick="this.src+='?rand='+Math.random();"/>
                    </div>
                    <div class="am-form-group">
                        <input type="submit" name="" value="提交" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn submitBtn">
                    </div>
                </form>
            </div>
        </div>
<include file="Common:footer_link" />
<style type="text/css">
    .verify-box{ position: relative;}
    .verify-box input{padding-right: 85px!important;}
    .verify-box img{height: 32px; position: absolute;right: 0;top: 0px;}
</style>
<script type="text/javascript">
    // 表单提交
        var $form = $('#loginForm');
        var $subbtn = $(".submitBtn");
        $form.validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if (formValidity) {
                    // 验证成功的逻辑
                    $subbtn.button('loading');
                    // 验证成功的逻辑
                    $form.ajaxSubmit({url:document.URL,data:'',type:"POST",
                        success:function(data, st) {
                            // 提示框
                            AMUI.dialog.alert({ title: data.title, content: data.info});
                            if(data.status==1){
                                setTimeout(function(){
                                    top.window.location.href = data.url;
                                },1000);
                            }else{
                                $subbtn.button('reset');
                                // 重置验证码
                                restVerifyImg();
                            }
                            return false;
                        }
                    });
                } else {
                    $subbtn.button('reset');
                    // 重置验证码
                    restVerifyImg();
                // 验证失败的逻辑
                }
            //阻止原生form提交
            return false;
            }
        });
</script>
</body>
</html>