@charset "utf-8";
/* CSS Document */

.am-btn {font-size:12px ;}


   
a:link,a:visited,a:hover{text-decoration:none; outline:none;}
/*所有超链接不要下划线*/

img, input {
    vertical-align: middle;}
a {
  color: #000;
  text-decoration: none;
}


.spatic{width:100%; height:16px;}
h5{float: right;color: #666;padding-right:20px;}
.last{border-right:none !important;}
/*选项卡样式定义*/
.am-nav-tabs,.am-tabs-bd{border-color:transparent ;}
.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:hover, .am-nav-tabs > li.am-active > a:focus,.am-nav-tabs > li > a:hover ,.am-nav-tabs > li > a:focus {
color: #555555;background:none;border-color:transparent;cursor: default;}
.am-nav-tabs > li{border-bottom:2px solid  transparent;}
.am-nav-tabs > li.am-active {border-bottom:2px solid #F03726;}
.am-tabs-nav li {max-width:216px;height:36px;font-size:16px;line-height:36px ;}
.am-tabs-nav li a,.am-tabs-nav li.am-active a{cursor: pointer;}

/*选项卡样式*/
.am-nav-tabs > li.am-active span{color: #E4393C;font-size:16px;}
.am-nav-tabs > li span{font-size:16px;font-weight:700;}

/*侧边导航*/
.mui-mbar-tabs{ display:none;}

.chat_box{ display: none;}
@media only screen and (min-width: 640px){
	.my-cart { width: 46px;height: 46px;}
	
	#ai-topsearch {height: 46px;}
	
	.my-cart a{display:block; margin-top:5px}
	.classified{display:none;}
	
	
     #ai-topsearch{ font-size:18px;}
     
    
	.bloglist{ margin-top:0px;}
	.shopMain {margin:0px 5px;}


	
/*聊天室【*/
.chat_box{ display: block; margin-top: 10px;background-color: #f1f1f1;
    border: 1px solid #ccc;}
.chat_box .chat_tit{ padding:5px 10px;}
.chat_box .chat_con{ border-top: solid 2px #e4e4e4;}
.con_box{
    float: left;
    width: 80%;
    border-radius: 5px;}
.con_box .caption_box{ background-color: #e4e4e4;
    height: 380px;
    overflow-y: scroll;
    padding: 10px;
    overflow-x: hidden;}

.caption .speech_item{ margin-bottom: 10px;}
.item_head .user_icon{  padding: 3px; width: 38px; height: 38px;
    float: left;}
.item_head .head_con{  float: left;
    font-size: 12px;
    margin-left: 5px;
}
.item_head .head_con .tm{ color: #999;
    display: block;
    font-size: 10px;}

.speech_item .triangle-isosceles {
    background-color: #fff;
    border-radius: 5px;
    margin-left: 50px;
    padding: 5px 10px;
    position: relative;
    font-size: 12px;
}
.speech_item .triangle-isosceles .ltnr{background: none;
     left: -8px;
    position: absolute;}
.chat_bod{}

.speech_item .triangle-isosceles .mysay{ color: #980000; padding: 0 2px;}
.speech_item .triangle-isosceles .hesay{ color: #0099cc; padding: 0 2px;}

.pop_box{background-color: #e4e4e4;
    float: right;
    width: 20%;
    border-left: solid 1px #ccc;}
.send_box {
	position: relative;
    border-top: 5px solid #e1e1e1;
    padding-right: 140px;
}
.send_box textarea{resize: none;border: medium none;
    height: 60px;
    width: 100%;}
.send_btnbox{
    width: 140px;position: absolute;
    right: 0px;
    top: 0px;}
.send_btnbox .am-btn{ width: 140px;}
.send_btnbox .btn{
    height: 40px;}

.pop_libox h4{ padding: 5px;
    border-bottom: solid 1px #ccc;}

.pop_libox ul {
    height: 411px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.pop_libox ul li{border-bottom: 1px dashed #ccc;
    padding: 0 5px;
    font-size: 12px;
    line-height: 25px;}
/*聊天室】*/
/*选项卡样式*/
.am-nav-tabs > li span{font-size:16px;padding:5px 15px ;}
	}
@media only screen and (min-width: 1025px) 

   {

.mui-mbar-tabs{ display:block;}  

	   
.my-cart{ display:none; right:10%; top:20px;}
.shopNavfloat{ display:block; position:fixed;bottom:0px;left:30px;}
.shopMain{margin:0px 40px 0px 5px;} 
.shopCon li{width:20%;padding:10px;}

.tip{display:block;}
   
	   }
	   

	   
@media only screen and (min-width: 1260px) {




}


	   
/*侧边信息栏*/  
.tip{ position:fixed; top:0px;right:0px;background-color: #e1e1e1; min-height: 100%;z-index: 1000; }
#sidebar {
    padding-top: 120px;
    width: 35px;
    position: absolute;
    right: 0;
    background-color:#2b2b2b;
    min-height: 100%;
    z-index: 100;
	color:#FFF;
}

#content {
    width: 800px;
    margin: 0 auto;
    height: 400px;
}
.item {
    text-align: center;
    cursor: pointer;
	position:relative;
    padding-bottom: 3px;
}
.item span,.quick_toggle li span{
display: block;
line-height:38px;
background: url(../Img/ibar_sprites.png) no-repeat;
}
/*图标定位*/
.item .setting {    width: 18px;
    height: 19px;
    background-position: 0 0;
    margin: 9px auto 0;}
.item:hover .setting{background-position: -33px 0;}
.item .message {    width: 21px;
    height: 19px;
    background-position: 0px -29px;
    margin: 9px auto 0;}
.item:hover .message{background-position: -33px -29px;}
.item .view {     width: 18px;
    height: 18px;
    background-position: 0 -57px;
    margin: 10px auto 0;}
.item:hover .view{background-position: -33px -57px;}
.item .zuji {     width: 11px;
    height: 24px;
    background-position: -4px -110px;
    margin: 6px auto 0;}
.item:hover .zuji{background-position: -36px -110px;}
.item .guanzhu {
            width: 18px;
    height: 15px;
    background-position: 0px -85px;
    margin: 13px auto 0;
}
.item:hover .guanzhu{background-position: -33px -85px;}

.item span.wdsc,.item span.chongzhi{ background:none;}


.item:hover,.quick_toggle li:hover{ background:#980000;}
.item p {font-size: 12px;width:16px;margin:0px auto;padding-bottom:10px;}
.item,.nav-content{ font-size:12px;}
.ibar_login_box {width: 267px;height: 185px;padding: 10px;background: #fff;box-shadow: 0 0 5px rgba(0,0,0,.4);border-radius: 5px 0 0 5px;border-left: 1px solid #ccc\0;border-top: 1px solid #ccc\0;border-bottom: 1px solid #ccc\0;z-index: 3;position: absolute;top: 0px;left: -270px;display: none;}

#shopCart{overflow: hidden;}
p.cart_num {width: 21px; height: 21px; display: block; border-radius: 50%;background: #980000 none repeat scroll 0% 0%;text-align: center; line-height: 21px;
cursor: pointer;color: #FFF; margin-bottom:10px;}
.item:hover p.cart_num{ background:#FFF;color: #980000}
/*小图标定位*/

.quick_toggle {position: absolute;bottom: 0;left: 0;background: #2b2b2b;z-index: 1;}
.item a,.quick_toggle a{     display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
.quick_toggle .kfzx{background-position: 0 -175px;
    width: 15px;
    height: 16px;
    margin: 8px auto 0;}
.quick_toggle li:hover .kfzx{ background-position:-33px -175px;}
.quick_toggle .mpbtn_qrcode {    background-position: 0 -302px;
    width: 18px;
    height: 18px;
    margin: 8px auto 0;}
.quick_toggle .top {background-position: 0 -201px;
    width: 17px;
    height: 14px;
    margin: 10px auto 0;}


/*展开内容项布局*/
.ia-head-list .num {font-size: 16px;height: 26px;font-family: arial;}
.ia-head-list .pl {width:60px;border-right: dashed 1px #ccc;height: 47px;margin-top: 10px; margin-left:6px;text-align: center;float: left;}
.pl.money{ border-right:none;}
.ia-head-list {height: 66px;width: 200px;background: #f3f3f3;overflow: hidden;zoom: 1;margin-top: 15px;color: #4a4a4a;}
/*头像*/
.ibar_login_box .avatar_imgbox {width: 100px;height: 100px;border-radius: 50%; overflow:hidden; float:left;}
.status_login .user_info {overflow: hidden;color: #333;padding-top: 30px;line-height: 24px;width: 140px;float: left;}
.status_login .user_info img{ width: auto;}
.ibar_login_box .login_btnbox {width: 200px;height: 79px;border-top: 1px dotted #d5d5d5;overflow: hidden;padding-top: 15px;clear: both; margin:0px auto;}
.ibar_login_box .login_btnbox a {width: 94px;height: 30px;line-height: 30px;text-align: center;border: 1px solid;color: #333;text-decoration: none;float: left;background-position: 0 -408px;background-repeat: repeat-x;border-color: #e9e9e9;}


.mp_tooltip {height: 38px;line-height: 38px;width: 92px;position: absolute;z-index: 2;left: -121px;top: 0;background: #2b2b2b;color: #d8d8d8;text-align: center;display: block;visibility: hidden;font-size:12px;}
.icon_arrow_white {position: absolute;right: -5px;top: 15px;width: 5px;height: 9px;background:url(../Img/ibar_sprites.png) no-repeat;background-position: 0 -253px;}
.icon_arrow_right_black {position: absolute;right: -5px;top: 15px;width: 5px;height: 9px;
background:url(../Img/ibar_sprites.png) no-repeat;background-position:0px -234px;overflow: hidden;}


.mp_qrcode {padding: 10px;width: 148px;height: 150px;top: -50px;background: #fff;box-shadow: 0 0 5px rgba(0,0,0,.4);border-radius: 5px 0 0 5px;border: 1px solid #ccc;z-index: 3;position: absolute;left: -154px;display: none;}
.mp_qrcode .icon_arrow_white{top:105px;}
.nav-content {position: absolute;min-height: 100%; width: 200px;background-color: #fff;z-index: 99;text-align: center;right:-165px;border-radius: 5px 0 0 5px;border: 1px solid #999; padding-top:15px;}



.mp_qrcode img{width:100%;height: auto;}





.am-article-title.blog-title{font-size:24px;line-height: 1.15;font-weight: normal;margin: 10px 0px 20px;}
.blog-content p{margin: 0 0 1.6rem 0;font-size:14px;}

