.category-content{display: none;}
/* 分类*/
.long-title,.nav-cont{display: none;}
.meauBack{ display: none;}
@media only screen and (min-width: 1025px) {
.navfull {display:block;position: absolute;display: block;z-index: 999;}

/*分类*/
.nav-table{max-width:1000px;margin: 0px auto;height: 45px;position: relative;}
.all-goods{font-size: 16px;}
.long-title{background:#980000;color:#fff ; overflow: hidden; height: 45px;line-height: 45px;display:block;width:150px ;text-align: center;font-size:16px ;top:0px;z-index: 6;}
.nav-cont{position: absolute;padding-left:150px;display:block;width:100% ;top:0px}
.nav-cont li{float: left;height: 45px;line-height: 45px;}
.nav-cont li::before{content: '\20';display: inline-block;height: 16px;border-right: 1px solid #d9d9d9;width: 0;vertical-align: middle;margin-left: -1px;}
.nav-cont li a {font-size: 16px;color: #333;line-height: 36px;margin-left: -1px;padding: 0 25px;text-decoration: none;font-weight: 700;display: inline-block;vertical-align: middle;}

.nav-cont .nav-extra{position: absolute;right:0px ;top:6px;font-size: 16px;color:#fcff00;line-height:33px;height:33px ;width:160px;text-align:center;background: url(../Img/extra.png);cursor: pointer;}
.nav-cont .nav-extra a{ color: #fff;}
.nav-cont .nav-extra i.nav-user{background:#000 ;color:#fff ;width: 33px;height: 33px;border-radius: 33px;position: absolute;left:-28px;z-index: 99;padding: 5px;overflow: hidden;}
.nav-cont .nav-extra b{display:block;position: absolute;width: 45px;height: 45px;border-radius:45px;z-index: 1;left: -33px;top: -8px;background: #fff;}
b.line{display: block;width:100%;height:2px ;border-bottom:2px solid #980000;z-index:5;}	


.category-content .category-list.navTwo li { height:36px;}
.category-content .category-list.navTwo .b-category-name {line-height: 28px;}
.category-content .category-list.navTwo .category-name i img {width: 22px; height: 22px;border-radius: 22px;}

/*导航*/
.navfull .category-content{ display: block; position:relative; width: 150px; float: left; z-index: 113;}
.navfull .category-content .all-goods { display: block; padding: 0; border-radius: 5px 5px 0 0; font-weight: 600;width:150px;height: 45px; padding: 0; border-radius: 5px 5px 0 0; color: #fff; text-align: center; font: 16px/45px "Microsoft YaHei";}
.navfull .category-content .all-goods em{ font: 12px/36px "Microsoft YaHei"; }
.category-content .category{width:150px;  border: 1px solid #2b2b2b; border-top: none; background: #2b2b2b;box-shadow: 8px 0 7px -3px rgba(0,0,0,.3) }
.category-content .down-ico{ position: absolute; top: 48px; left: 95px; width: 10px; height: 6px; background-position: 0 -131px; z-index: 11111; }
.category-content .category-list li { height:38px;  margin-top: -2px;z-index:113;border-top: 1px solid #333;border-bottom: 1px solid #252525}
.category-content .category-list li.first{ margin-top: 0; }
.category-content .category-list li.last .c-category-list{ border-bottom: none; }
.category-content .category-list a:hover{ text-decoration: none; color: #D2364C; }
.category-content .category-name{ overflow:hidden; position: relative;}
.category-content .category-name i img{ position: absolute; top: 6px; width: 25px; height: 25px; border-radius:25px;left: 6px; display:block;}
.category-content .category-name .ml-22{font-size:14px ;margin-left: 35px;}
.category-content .category-list .bd-b{ height: 1px;  margin: -1px 10px 0 10px;  background: #eee; line-height: 1; font-size: 0; }


.category-content .b-category-name {line-height:32px;padding-top:3px ;padding-left:5px ;}
.category-content .b-category-name b{ margin-left: 4px; font:400 12px/28px "宋体"; }
.category-content .b-category-name a{ color: #fff; }
.category-content .c-category-list a{ margin-right:8px; color:#626262; }
.category-content .b-category-name .fr{ background-position:0 -629px; width:22px; height:22px; margin:10px 16px 0 0; }
.category-content .s-category-name{ height:22px;}
.category-content .s-category-name a{ margin:0 16px 0 0; font:12px/22px "宋体";}
.category-content .category-info{ position:relative;height:100%;  padding-left: 12px;width: 152px;overflow: hidden;}
.category-content .category-info em{ position:absolute; top:8px; right:15px; width: 13px; height: 13px; font: 12px/18px "宋体"; color: #9b9b9b;}
.category-content .category .hover{ margin-left: -1px; padding-left: 1px;z-index:999;} 
.category-content .hover .category-info{ border:none; text-decoration:none; background: #fff;  }
.category-content .menu-item { position: absolute;left: 143px;height:100%; z-index: 11;padding:0 0 0 2px;width:770px;background: #fff; border:none; border-top: 1px solid #bbb\9;}
.category-content .menu-item .area-in{ background-color: #fff; position: relative;  z-index: 1;  }
.category-content .menu-item .area-bg{ padding: 10px 10px 10px 40px;}


.category-content .menu-in{ display: none; }
.category-content .category-list li.hover .category-info{z-index:999;}
.category-content .category-list li.hover .b-category-name a{ color:#4c4c4c; }
.category-content .menu-srot{width: 100%; overflow:hidden;}

.category-content .menu-item.top{top:0px;}
.category-content .menu-item.bottom{bottom: -2px;*bottom: -6px;_*bottom: -7px;}


.menu-srot .sort-side{ overflow:hidden }
.sort-side .dl-sort{ float:left; width:100%; }
.sort-side img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.sort-side .dl-sort a span{ line-height: 20px;}
.sort-side .dl-sort.childin{ width: 100%;
    border-bottom: 1px #e4e4e4 dashed;
}
.sort-side .dl-sort.childin a{ color: #980000;}
.sort-side dt { margin-top: 5px; font-size: 14px; font-weight: bold; color: #980000; text-align: left;}

.sort-side dd { float:left; margin: 2px 6px 4px 0;}
.sort-side dd a {
    float: left;
    width: 100%;
    /* letter-spacing: 0.5px; */
    line-height: 14px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
    border: 1px solid #e6e6e6;
    text-align: left;
}
.sort-side dd a img {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
}
.sort-side dd a span.red{ color:#980000; }
.menu-srot .brand-side{ position: relative;margin-left: -10px; padding-top: 10px; }
.brand-side .dl-sort{overflow: hidden; height: 70px;}

.sort-side .dl-sort{ float:left; width:50%; }
.category-list li.hover .menu-in { border: 1px solid #333; height: auto; }
/*.category-list li.hover{border: 2px solid #d83e54; border-right: none; }
.category-list li.last.hover ,.category-list li.hover .menu-in{border-bottom-color:transparent ;}*/
}

@media only screen and (min-width: 1260px) {
/*分类*/
.nav-table{max-width:1200px;}
.long-title {width:180px;}
.nav-cont {padding-left: 180px;}
	/*导航*/
.navfull .category-content{ position:relative; width: 180px; float: left; z-index: 113; }
.navfull .category-content .all-goods {width:180px;}
.category-content .category{  width:180px;}
.category-content .category-info {padding-left: 12px;width: 182px;overflow: hidden;}
.category-content .menu-item {left: 173px;}
.category-content .category-list li {height:45px ;}

.category-content .b-category-name {padding-left:10px ;}
.category-content .category-name i {top:6px}
.category-content .category-info em{top:9px}
}