<include file="Common:meta" />
<title>数据库备份-{$site.SITE_INFO.name}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body data-type="widgets">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <include file="Common:header" />
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">数据库备份</div>
                            </div>
                            <div class="widget-body am-cf">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a href="javascript:void(0);" class="am-btn am-btn-default am-btn-success submitBtn"><span class="am-icon-save"></span> 备份所选</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12">
                                    <form id="backupsForm" class="am-form tpl-form-border-form tpl-form-border-br">
                                        
                                        <table width="100%" id="example-r" class="am-table am-table-compact tpl-table-black " >
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <label class="am-checkbox am-margin-right-sm am-fl"><input class="chooseAll" type="checkbox" data-am-ucheck>全选</label>
                                                        <label class="am-checkbox am-fl"><input class="unsetAll" type="checkbox" data-am-ucheck>反选</label>
                                                    </td>
                                                    <td>表用途</td>
                                                    <td>记录行数</td>
                                                    <td>引擎类型</td>
                                                    <td>字符集</td>
                                                    <td>表大小</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <volist name="list" id="tab">
                                                    <tr>
                                                        <td>
                                                            <label class="am-checkbox"><input type="checkbox" name="table[]" value="{$tab.Name}" data-am-ucheck>{$tab.Name}</label>
                                                        </td>
                                                        <td>{$tab.Comment}</td>
                                                        <td>{$tab.Rows}</td>
                                                        <td>{$tab.Engine}</td>
                                                        <td>{$tab.Collation}</td>
                                                        <td>{$tab.size}</td>
                                                    </tr>
                                                </volist>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <label class="am-checkbox am-margin-right-sm am-fl"><input class="chooseAll" type="checkbox" data-am-ucheck>全选</label>
                                                        <label class="am-checkbox am-fl"><input class="unsetAll" type="checkbox" data-am-ucheck>反选</label>
                                                    </td>
                                                    <td>表用途</td>
                                                    <td>记录行数</td>
                                                    <td>引擎类型</td>
                                                    <td>字符集</td>
                                                    <td>总计：{$total}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<include file="Common:footer_link" />
<script type="text/javascript">
    // 表选择
    clickCheckbox();
    // 表单提交
        var form = $('#backupsForm');
        var subbtn = $(".submitBtn");
        var postUrl = "{:U('SysData/backup')}";
        subbtn.click(function(){
            if($("table input[type='checkbox']:checked").size()==0){
                AMUI.dialog.alert({content: '请先选择你要备份的数据库表吧'});
                return false;
            }
            // 禁用按钮
            subbtn.button('loading');
            var loading = AMUI.dialog.loading({title: '系统在处理中...'}); 
            form.ajaxSubmit({
                url:postUrl,
                type:"POST",
                success:function(data, st) {
                    if(data.status!=1){
                        subbtn.button('reset');
                    }
                    loading.modal('close');
                    AMUI.dialog.alert({ title: data.title, content: data.info});
                    if(data.url&&data.url!=''){
                        setTimeout(function(){
                            top.window.location.href=data.url;
                        },2000);
                    }
                }
            });
            return false;
        });
</script>
</body>
</html>


